.Orange
{
    background-color:#ff6a00;
}
.Purple {
    background-color: #5511ea;
}

.Panna {
    background-color: cornsilk;
}

.BiancoOpaco {
    background-color: #f6f6f6;
}


.Grigietto {
    background-color: lavender;
}

.GialloScuro {
    
}




