

.WidthUsed
{
    width:200px;
}

.idex-header {
    margin-bottom: 10px;
    margin-top: 0px;
    position: inherit;
}


.index-header .index-title {

    font-size: 2.5em;
    font-family: Cambria;
    letter-spacing: 10px;
    border-bottom: 8px solid ;
    border-left: 200px solid ;
    border-right: 200px solid ;
    border-color:#ebb317;

    display: inline-block;

    margin-bottom: 15px;
    text-align: center;
    padding-top: 20px;
}

.index-underlinetitle-line {
    width: 100%;
    padding-left: 1px;
    padding-right: 1px;
    background-color:#b69f60;
    height:4px;
    margin-bottom:10px;

}

    .index-header .index-subheading {
        display: block;
        padding: 0px 0px 10px 15px;
        font-size: 18px;
    }



.partialindexzone {
    text-align:left;
    width: 100%;
    height: -webkit-fill-available;
    margin-top:40px;
}



.table-for-information {
    font-size: 1.2em;
    border-collapse: collapse;
    border-spacing: 0;
    table-layout:fixed;
}



    .table-for-information th {
        border-top: 5px solid #000000;
        border-bottom: 5px solid #000000;
    }
    

    .table-for-information tr {
        border-top: 1px solid #000000;
        border-bottom: 1px solid #000000;
        height: 70px;
        margin-left:10px;       
    }

.cell-selection-item {
    width: 100px !important;
    text-align:center;
    


}





.BarBottom 
{
    width: 100%;
    height: 50px;
    position: fixed;
    bottom: 30px;
    background-color: transparent;
}

.TableBottom {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    table-layout: fixed;
}