

:root {
    --menu-height: 50px;
    --menu-bottom-distance:30px;
}


.image-open-menu {
    width: 50px;
    height: var(--menu-height);
    bottom: var(--menu-bottom-distance);
    position: fixed;
    cursor: pointer;
    left:0px;
    background-image: url(Images/Menu/image_scrollmenu-right-removebg.png);
    background-size: cover;
    z-index:10;
}


.crm-menu {
    display: block;
    bottom: var(--menu-bottom-distance);
    /*width: 75%;*/
    
    width:auto;
    height: 55px;
    left: 0px;
    border: 2px solid;
    border-radius: 5px 8px;
    position: fixed;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,1), 0 20px 20px 0 rgba(0,0,0,1);
    z-index: 10;
}



.image-close-menu {
    width: 50px;
    height: var(--menu-height);
    display: inline-block;
    cursor: pointer;
    background-image: url(Images/Menu/image_closemenu.png);
    background-size: contain;
    margin-right: 15px;
    z-index: 10;
}

    
.crm-menu-cell {
    height: auto;
    width: auto;
}


.crm-menu-button {
    min-width:80px;
    width:auto;
    height: auto;
    border: 2px dashed;
    /*margin-left: 15px;*/
    padding:3px;
    /*padding: 6px;*/
    
    text-align: center;
    font-size: 1em;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 5px;
    margin-right: 3px;
}
.custom-menu-button-crm {
    width: 140px;
    height: auto;
    border: 2px solid;
    /*margin-left: 15px;*/
    padding: 1px;
    /*padding: 6px;*/
    text-align: center;
    font-size: 1em;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 5px;
    margin-right: 3px;
}
        

     .btnorange
     {
         border: #ff6a00;
         text-decoration-color:#ff6a00

     }

    .crm-menu-button:hover {
        background-color: #ccc098b3;
        margin-top:5px;
    }
    
    
.crm-menu-button-link{ 
    color:#000000;
    text-decoration:none;
}
    .crm-menu-button-link:hover {
        color: #000000;
        text-decoration: none;
    }


