

.crm-detailspage {
    height: -webkit-fill-available;
    padding-left: 10px;
    padding-right: 10px;
    z-index: 1;
    /*overflow-x: hidden;
    width:100%;*/
}


/*.crm-deatilspage-form {
    padding-left: _10px;
    padding-right: ì10px;
}*/


.form_ {
    position:initial;
    
}

.LineBOt {
    border-bottom: 1px chocolate solid;
}

.row .cust {
    border-left: 1px chocolate solid;
}

.border-square {
    border: 3px solid #555;
}

.ImportantData {
    border: 2px solid #ffaa00;
    background-color: white;
}


.TextArea {
    resize: vertical;
    height: 26px;
}

.SomeSpaceTop{
    margin-top:2px;
    
}
.SelectionItem {
    height: 26px;
    z-index:8;
}

    .SelectionItem option {
        z-index: 8;

    }

.MySelection {
    height: 24px;
    border: 1px solid;
    
}

.MySelection.Label {
    /*border-bottom-left-radius: 30px;
    border-top-left-radius: 30px;*/
    /*border-right: none !important;*/
    padding-left:15px;
    
}
.MySelection.Choose {
    /*border-bottom-right-radius: 30px;
    border-top-right-radius: 30px;*/
    cursor: pointer;
    background: #fff7e8;
    text-align: center;
}

    .MySelection.Choose:hover {
        background-color: #cec1a9;
    }

:root {
    --modal-duration: 1s;
    --modal-color: #428bca;
}


.modal_ {
    position: fixed;
    z-index: 11;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    width: 35%;
    right: 50%;
    left: 34%;
    top: 17%;
    height: 45%;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
    animation-name: modalopen;
    animation-duration: var(--modal-duration);
    background-color: #f3f3f3;
}

.modal-header {
    margin-bottom: 10px;
    border-bottom: 4px double;
    text-align: left;
    font-size: 1em;
    height: 47px;
    background-color: #6fc0f7cc;
}

.modal-body {
    height: 65%;
    overflow-x: hidden;
    overflow-y: auto;
    width: 100%;
    margin-bottom: 4px;
}

.modal-element {
    padding: 3px;
    padding-left: 15px;
    /*border-radius: 5px;*/
    border-bottom: 2px solid;
    cursor: pointer;
    margin-bottom: 4px;
}

    .modal-element:hover {
        background-color: #d2ebff;
        cursor: pointer;
    }

.modal-button-closed {
    text-align: center;
    background-color: #6fc0f7cc;
    height: 30px;
    top: 57%;
    cursor: pointer;
    border: 1px solid;
    position: sticky;
}

    .modal-button-closed:hover,
    .modal-button-closed:focus {
        color: black;
        background-color: #2b8ddc;
        text-decoration: none;
        cursor: pointer;
    }


.GroupDataSpan {
    font-size: 1.5em;
    margin-top: 10px !important;
    margin-bottom: 5px !important;
    border-bottom: 1px solid;
    border-left: 1px solid;
    border-right: 1px solid;
}

.GropDataDiv {
    border: 1px solid;
    /* padding: 3px; */
    padding-top: 5px;
    padding-bottom: 5px;
}

.MarginFromDataDiv{
    margin-top:20px;
}