

:root {
    --navigation-bar-margin-top: 64px;
}


nav {
    background: #9f496e;
    height: 54px;
    width: 100% !important;
    margin-bottom: 10px;
    left: 0;
    position:fixed !important ;
    display: compact;
    z-index:10;
}


     nav ul {
        list-style: none;
        margin: 0 auto;
        padding: 0;
        width: 100%;
        max-width: 1200px;
     }

        nav ul ul {
            display: none;
            position: absolute;
            top: 100%;
            left: 0;
            width: 100%;
        }

        nav ul li {
            display: block;
            position: relative;
            float: left;
            width: 12em;
            text-align: center;
            text-decoration: none;
        }
         nav ul li:hover ul {
                display: block;
         }
            nav ul li li {
                position: relative;
                /*float: unset;*/
                width: 100%;
                text-decoration: none;
                /*z-index: -1;*/
             
            }

            nav ul li a {
                display: block;
                text-decoration: none;
                text-align: center;
                color: #ffffff;
                padding: 15px;
                /*padding: 15px 25px;*/
                /*font-size: 1.2em;*/
                font-size: 1em;
                font-family: Arial;
                box-sizing: border-box;
                border-right: solid 2px #9f496e;
                border-left: solid 2px #9f496e;
                font-stretch: normal;
            }

        nav ul ul li a {
            /*font-size: 1rem;*/
            font-size: 1em;
            border-bottom: solid 2px #9f496e;
            text-decoration: none;
            text-align:center;
            
        }

        nav ul ul li:first-child a {
            border-top: solid 1px #9f496e;
        }

        nav ul li:hover a {
            background: #FFF;
            color: #9f496e;
            text-decoration: none;
            cursor: pointer;
            box-shadow: 0 8px 16px 0 rgba(0,0,0,1), 0 20px 20px 0 rgba(0,0,0,1);
            transition: 0.3s;
        }

        nav ul li li:hover a {
            background: #9f496e;
            color: #FFF;
           }
