



.my-nav-bar_ {
    /*background: linear-gradient(to top right, #ff6a00 0%, #ffd800 50%, #42b71a 100%);*/
    background: lemonchiffon;
    position: relative;
    z-index: 1000;
    min-height: 55px;
    margin-bottom: 20px;
    /*border: 1px solid transparent;*/
}

.my_nav {
    background: lemonchiffon;
    position: relative;
    z-index: 1000;
    min-height: 63px;
    margin-bottom: 20px;
    border: 1px solid transparent;
}

#navigation_  ul
{
    list-style:none;
}

#navigation_ li, a {
    display: block;
    text-decoration: none;
    color: #ffffff;
    padding: 15px 25px;
    font-size: 1.2em;
    box-sizing: border-box;
    border-right: solid 2px #000;
    border-left: solid 2px #000;

    /*background-color: lemonchiffon;
    width: 20%;
    border: 1px solid white;
    line-height: 50px;
    text-align: center;
    float: right;
    color: green;
    text-decoration: none;
    font-size: 20px;*/
}

#navigation_ ul ul {
    display: none;
}

#navigation_ ul li:hover > ul {
    display: block;
    transition: 0.5s;
}

#navigation_ li:hover {
    background-color: #795;
    color: white;
    transition: 0.5s;
}

#navigation_ a:hover {
    background-color: #8A8;
    color: white;
    transition: 0.5s;
}




 body 
{
    font-family: sans-serif;
}


nav {
    background: #9f496e;
    height: 54px;
    width: 100%;
    /*position: fixed;*/
    margin-bottom: 10px;
    /*top: 0;*/
    left: 0;
}


     nav ul {
        list-style: none;
        margin: 0 auto;
        padding: 0;
        width: 100%;
        max-width: 1200px;
     }

        nav ul ul {
            display: none;
            position: absolute;
            top: 100%;
            left: 0;
            width: 100%;
        }

        nav ul li {
            display: block;
            position: relative;
            float: left;
            width: 16%;
            text-align: center;
            text-decoration: none;
        }

         nav ul li:hover ul {
                display: block;
            }

        nav ul li li {
            position: relative;
            float: none;
            width: 100%;
            border: none;
            text-decoration: none;
        }

            nav ul li a {
                display: block;
                text-decoration: none;
                color: #ffffff;
                
                /*padding: 15px 25px;*/
                /*font-size: 1.2em;*/
                font-size: 16px;
                box-sizing: border-box;
                border-right: solid 2px #9f496e;
                border-left: solid 2px #9f496e;
            }

        nav ul ul li a {
            /*font-size: 1rem;*/
            font-size: 16px;
            border-bottom: solid 2px #9f496e;
            text-decoration: none;
        }

        nav ul ul li:first-child a {
            border-top: solid 1px #9f496e;
        }

        nav ul li:hover a {
            background: #FFF;
            color: #9f496e;
            text-decoration: none;
            box-shadow: 0 8px 16px 0 rgba(0,0,0,1), 0 20px 20px 0 rgba(0,0,0,1);
            transition: 0.4s;
        }

        nav ul li li:hover a {
            background: #9f496e;
            color: #FFF;
            
        }
