.loading-spinner {
    left:50%;
    right:50%;
    top:50%;
    bottom:50%;
    width: 64px;
    height: 64px;
    position: absolute;
    margin: auto;
    background-image: url(Images/Spinner/Spin_Gif.gif);
    background-position: center;
    border: 0 !important;
    background-size: cover;
    z-index:10;
}

    .loading-spinner.small {
        width: 32px;
        height: 32px;
        background-image: url(Images/Spinner/Spin_Gif.gif);
        background-size: cover;
    }

    .loading-spinner.medium {
        width: 60px;
        height: 60px;
        background-image: url(Images/Spinner/Spin_Gif.gif);
        background-size: cover;
    }
    .loading-spinner.big{
        width: 90px;
        height: 90px;
        background-image: url(Images/Spinner/Spin_Gif.gif);
        background-size: cover;
    }


