@using Crm_DataUtilities.ViewModel;
@using Crm_Global;

@model PreventiveDetailsViewModel
@{
    PageParameters _pageParameters = ViewBag.pageParameters;
    var controllerName = _pageParameters.ControllerName;
    var actionName = "Create";
}

    <div class="crm-detailspage ">
        <input type="hidden" id="_ControllerName" name="ControllerName" value="@controllerName">

        <div class="index-header">
            <span class="index-title no-padding  "> @_pageParameters.PageTitle </span>
        </div>



        @using (Html.BeginForm(actionName, controllerName, FormMethod.Post, new { id = "Form_" }))
        {
            @Html.AntiForgeryToken()
            <div class="row ">
                <div>
                    <div class="col-md-3">
                        <label> Numero Preventivo </label>
                    </div>
                    <div class="col-md-3">
                        <label>Data</label>
                    </div>
                    <div class="col-md-3">
                        <label>Durata (gg)</label>
                    </div>
                    <div class="col-md-3">
                        <label>Listino in vigore (€)</label>
                    </div>
                </div>

                <div>
                    <input class="col-md-3 ImportantData" type="text" name="NumeroPreventivo" >
                    <input class="col-md-3" type="date" name="Data" >
                    <input class="col-md-3" type="number" min="0" value="0" name="Durata" >
                    <input class="col-md-3" type="number" min="0" value="0" name="listinoinvigore">
                </div>

            </div>
            <br />

            <div class="row  SomeSpaceTop">
                <div class="col-md-2 LineBOt">
                    <label> Oggetto</label>
                </div>
                <input class="col-md-10" type="text" name="Oggetto" >
            </div>

            <div class="row SomeSpaceTop">
                <div class="col-md-2 LineBOt">
                    <label> Riferimento </label>
                </div>
                <input class="col-md-10" type="text" name="Referenza" >
            </div>
            <div class="row  SomeSpaceTop">
                <div class="col-md-2 LineBOt">
                    <label> Allegati </label>
                </div>
                <input class="col-md-10" type="text" name="firstname">
            </div>
            <div class="row SomeSpaceTop ">
                <div class="col-md-2 LineBOt">
                    <label> Progetto </label>
                </div>
                <input class="col-md-10" type="text" name="Progetto" >
            </div>


            <br />
            <div class="row">
                <div class="col-md-6">
                    <label> All'attenzione di </label>
                </div>
                <div class="col-md-6">
                    <label> Operatore </label>
                </div>
            </div>

            <div class="row WithSpinner">
                <input class="col-md-6 " type="text" name="Selection">
                <div class="col-md-6">
                    <div class="col-md-9 MySelection Label">
                        NOME E COGNOME OPERATORE
                    </div>
                    <div class="col-md-3 MySelection Choose" onclick="DataForSelection(this, 'SELEZIONA IL L\'OPERTAORE', '@controllerName');" >  SCEGLI </div>
                    <span style="    margin-left: 55px;" class="col-md-3 SpinnerNoPosition hide"> </span>
                </div>
            </div>

            <br />
            <div class="row">
                <div class="col-md-4">
                    <label> Addebito Trasporto </label>
                </div>
                <div class="col-md-4">
                    <label> Pagamento </label>
                </div>
                <div class="col-md-4">
                    <label> Consegna </label>
                </div>
            </div>
            <div class="row">
                <input class="col-md-4" type="text" name="AddebitoTrasportato" >
                <div class="CustomSelectionItem">
                    <select class="col-md-4 SelectionItem" id="country" name="Pagamento">
                        <option> DA CONCORDARE </option>
                        <option> EFFETTUATO </option>
                        <option> NON EFFETTUATO </option>
                    </select>
                </div>
                <div>
                    <select class="col-md-4 SelectionItem" id="country" name="Consegna">
                        <option> DA CONCORDARE </option>
                        <option> EFFETTUATA </option>
                        <option> NON EFFETTUATA </option>
                    </select>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-6">
                    <label> Nota d'apertura </label>
                </div>
                <div class="col-md-6">
                    <label> Nota di chiusura </label>
                </div>
            </div>
            <div class="row">
                <input class="col-md-6" type="text" name="NotaApertura" >
                <input class="col-md-6" type="text" name="NotaChiusura" >
            </div>
            <br />
            <div class="row">
                <div class="col-md-6">
                    <label> Cartella  </label>
                </div>
                <div class="col-md-6">
                    <label> Numero commissione </label>
                </div>
            </div>

            <div class="row">
                <input class="col-md-6" type="text" name="Cartella" >
                <input class="col-md-6" type="text" name="NumeroCommissione" >
            </div>

            <br />
            <div class="row">
                <div class="col-md-6">
                    <label> Data inizio lavori </label>
                </div>
                <div class="col-md-6">
                    <label> Referenza </label>
                </div>
            </div>

            <div class="row">
                <input class="col-md-6" type="date"  name="DataInizioLavori" >
                <input class="col-md-6" type="text" name="Referenza" >
            </div>

            <br />
            <div class=" row">
                <div class="col-md-6">
                    <label> Note Andamento </label>
                </div>

                <div class="col-md-2">
                    <label class="col-md-9 no-margin-right" > Totale(€)</label>
                    
                </div>
                <div class="col-md-2">
                    <label> Totale scontato(€)</label>
                </div>
                <div class="col-md-2">
                    <label> Sconto (%)</label>
                </div>

            </div>

            <div class="row">
                <textarea class="col-md-6 TextArea" type="text" name="NotaAndamento"></textarea>
                <input class="col-md-2 ImportantData Inp" type="number" min="0"  value="0" name="TotaleArticoliListino" >
                <input class="col-md-2 ImportantData Dest" type="submit" min="0" value="0"  name="ImportoTotaleScontato" >
                <input id="StartPoint" class="col-md-2 ImportantData " type="number" value="0" min="0" max="100"  name="ScontoGenerale" >
            </div>

         }

    </div>


<script>

    
        $("#StartPoint").on("input", function (e) {
        CalculateDataUsingCustomInput($(this), CalculationType.PERCENTAGE);
        });
        $(".Inp").on("input", function (e) {
            var Closest = $(this).siblings('#StartPoint')[0];
            CalculateDataUsingCustomInput($(Closest), CalculationType.PERCENTAGE);
        });

    //Incorporare in una singola funzione
    $("#save").click(function ()
    {
        var newDetailsPreventive= $('#Form_').serializeFormJSON();       


        $.ajax({
            type: "POST",
            url: "@Url.Action(actionName,_pageParameters.ControllerName)",
            data: newDetailsPreventive,
            dataType:"json",
            async: false,
            success: function (redirectToUrl) {

                alert("Elemento Creato");
                window.location.href = redirectToUrl.redirect;
            }
            ,
            error: function ()
            {
            }
        }
            )
       
    });
    

</script>



