@using Crm_DataUtilities.ViewModel;
@using Crm_Global;

@model PreventiveDetailsViewModel
@{
    PageParameters _pageParameters = ViewBag.pageParameters;
    var controllerName = _pageParameters.ControllerName;
    var actionName = "Create";
}

    <div class="crm-detailspage ">
        <input type="hidden" id="_ControllerName" name="ControllerName" value="@controllerName">

        <div class="index-header">
            <span class="index-title no-padding  "> @_pageParameters.PageTitle </span>
        </div>

        @using (Html.BeginForm(actionName, controllerName, FormMethod.Post, new { id = "Form_" }))
       {
            @Html.AntiForgeryToken()
         <div class="form-group">


            <div class="form-group">
                <div class="row">
                    <div class="col-md-3">
                        <div>
                            <label class="col-sm-12">
                                Numero Preventivo
                            </label>
                        </div>
                        <div>
                            <input class="col-sm-12 ImportantData" type="text" name="NumeroPreventivo" >
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div>
                            <label class="col-sm-12">Data</label>
                        </div>
                        <div>
                            <input class="col-sm-12" type="text" name="Data" >
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div>
                            <label class="col-sm-12">Durata</label>
                        </div>
                        <div>
                            <input class="col-sm-12" type="text" name="Durata">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div>
                            <label class="col-sm-12">Listino in vigore</label>
                        </div>
                        <div>
                            <input class="col-sm-12 chg " type="number" min="0" name="ListinoInVigore" >
                        </div>
                    </div>
                </div>
            </div>

            <br />

            <div class="form-group">
                <div class="row  SomeSpaceTop">
                    <div class="col-md-2 LineBOt">
                        <label> Oggetto</label>
                    </div>
                    <input class="col-md-10" type="text" name="Oggetto" >
                </div>
                <br />
                <div class="row SomeSpaceTop">
                    <div class="col-md-2 LineBOt">
                        <label> Riferimento </label>
                    </div>
                    <input class="col-md-10" type="text" name="Riferimento" >
                </div>
                <br />
                <div class="row  SomeSpaceTop">
                    <div class="col-md-2 LineBOt">
                        <label> Allegati </label>
                    </div>
                    <input class="col-md-10" type="text" name="Allegati" >
                </div>
                <br />
                <div class="row SomeSpaceTop ">
                    <div class="col-md-2 LineBOt">
                        <label> Progetto </label>
                    </div>
                    <input class="col-md-10" type="text" name="Progetto" >
                </div>
            </div>

            <br />
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-6">
                        <div>
                            <label class="col-sm-12">
                                Attenzione di
                            </label>
                        </div>
                        <div>
                            <input class="col-sm-12" type="text" name="Attenzione" >
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div>
                            <label class="col-sm-12">
                                Operatore
                            </label>
                        </div>
                        <div>
                            <input class="col-sm-12" type="text" name="Operatore" >
                        </div>
                    </div>
                </div>
            </div>

            <br />

            <div class="form-group">
                <div class="row">
                    <div class="col-md-4">
                        <div>
                            <label class="col-sm-12">
                                Addebito trasporto
                            </label>
                        </div>
                        <div>
                            <input class="col-sm-12 " type="text" name="AddebitoTrasportato" >
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div>
                            <label class="col-sm-12">
                                Pagemento
                            </label>
                        </div>
                        <div class="CustomSelectionItem ">
                            <select class="col-sm-12 SelectionItem" id="country" name="Pagamento">
                                <option> DA CONCORDARE </option>
                                <option> EFFETTUATO </option>
                                <option> NON EFFETTUATO </option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div>
                            <label class="col-sm-12">
                                Consegna
                            </label>
                        </div>
                        <div class="CustomSelectionItem">
                            <select class="col-sm-12 SelectionItem" id="country" name="Consegna">
                                <option> DA CONCORDARE </option>
                                <option> EFFETTUATO </option>
                                <option> NON EFFETTUATO </option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>


            <br />

            <div class="form-group">
                <div class="row">
                    <div class="col-sm-6">
                        <div>
                            <label class="col-sm-12">
                                Nota d'apertura
                            </label>
                        </div>
                        <div>
                            <input class="col-sm-12" type="text" name="NomeApertura" >
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div>
                            <label class="col-sm-12">
                                Nota di chiusura
                            </label>
                        </div>
                        <div>
                            <input class="col-sm-12" type="text" name="NotaChiusura" >
                        </div>
                    </div>
                </div>
            </div>

            <br />
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-6">
                        <div>
                            <label class="col-sm-12">
                                Cartella
                            </label>
                        </div>
                        <div>
                            <input class="col-sm-12" type="text" name="Cartella" >
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div>
                            <label class="col-sm-12">
                                Numero commissione
                            </label>
                        </div>
                        <div>
                            <input class="col-sm-12" type="number" name="NumeroCommissione" >
                        </div>
                    </div>
                </div>
            </div>


            <br />
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-6">
                        <div>
                            <label class="col-sm-12">
                                Data inizio lavori
                            </label>
                        </div>
                        <div>
                            <input class="col-sm-12" type="text" name="DataInzioLavori" >
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div>
                            <label class="col-sm-12">
                                Referenza
                            </label>
                        </div>
                        <div>
                            <input class="col-sm-12" type="text" name="Riferimento" >
                        </div>
                    </div>
                </div>
            </div>

            <br />


            <div class="form-group">
                <div class="row">
                    <div class="col-md-6">
                        <div>
                            <label class="col-sm-12">
                                Note Andamento
                            </label>
                        </div>
                        <div>
                            <textarea class="col-sm-12 TextArea" type="text" name="NoteAndamento"></textarea>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div>
                            <label class="col-sm-12">Totale(€)</label>
                        </div>
                        <div>
                            <input id="Totale" class="col-sm-12 ImportantData Inp chg" type="number" min="0" name="TotaleArticoliListino" >
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div>
                            <label class="col-sm-12">Totale scontato(€)</label>
                        </div>
                        <div>
                            <input id="Destination" style="text-align:center;" class="col-sm-12 ImportantData Dest " type="text" readonly min="0" name="ImportoTotaleScontato" >
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div>
                            <label class="col-sm-12">Sconto (%)</label>
                        </div>
                        <div>
                            <input id="Sconto" class="col-sm-12 ImportantData chg" type="number" min="0" max="100" name="ScontoGenerale" >
                        </div>
                    </div>
                </div>
            </div>
          </div>

        }

    </div>


<script>

    
        $("#StartPoint").on("input", function (e) {
        CalculateDataUsingCustomInput($(this), CalculationType.PERCENTAGE);
        });
        $(".Inp").on("input", function (e) {
            var Closest = $(this).siblings('#StartPoint')[0];
            CalculateDataUsingCustomInput($(Closest), CalculationType.PERCENTAGE);
        });

    @*//Incorporare in una singola funzione
    $("#save").click(function ()
    {
        var newDetailsPreventive= $('#Form_').serializeFormJSON();       
        
        $.ajax({
            type: "POST",
            url: "@Url.Action(actionName,_pageParameters.ControllerName)",
            data: newDetailsPreventive,
            dataType:"json",
            async: false,
            success: function (redirectToUrl) {

                alert("Elemento Creato");
            }
            ,
            error: function ()
            {
            }
        }
            )
       
    });*@
    

</script>



