@using Crm_DataUtilities.Repository;
@using Crm_DataUtilities.ViewModel;

@model List<PreventiveViewModel>




<table id="index-table" class=" table-for-information col-md-12">

    <thead>
        <tr class="table-for-information-partial-index">
            <th>@Html.DisplayNameFor(x => Model[0].NumeroPreventivo)</th>
            <th>@Html.DisplayNameFor(x => Model[0].Riferimento)</th>
            <th>@Html.DisplayNameFor(x => Model[0].Data)</th>
            <th>@Html.DisplayNameFor(x => Model[0].Listino)</th>
            <th class="cell-selection-item"></th>
        </tr>
    </thead>

    <tbody id="InformationContainer">
        @{Html.RenderPartial("PartialInformationContainer", Model);}
    </tbody>

</table>



<script>

    
$(document).on("click", ".removeicon",  function () {

    ShowSpin();

    var ElementToRemove = $(this).closest("tr");

    //ElementToRemove.animate({
    //    height: 'toggle'
    //});

    var Id = ElementToRemove.attr("id");
    DeleteElement(Id);


    //Senza rimuovere la riga, faccio il refresh 
             //$(this).closest('tr')
             //   .children('td')
             //   .animate({ padding: 2 })
             //   .wrapInner('<div />')
             //   .children()
             //       .slideUp(function () { ElementToRemove.remove(); });


});



</script>



