
@using Crm_DataUtilities.ViewModel;
@using Crm_Global;

@model CustomerDetailsViewModel
@{
    PageParameters _pageParameters = ViewBag.pageParameters;
    var controllerName = _pageParameters.ControllerName;
    var actionName = "Create";
}


    <div class="crm-detailspage ">
        <input type="hidden" id="_ControllerName" name="ControllerName" value="@controllerName">

        <div class="index-header">
            <span class="index-title no-padding  "> @_pageParameters.PageTitle </span>
        </div>

        @using (Html.BeginForm(actionName, controllerName, FormMethod.Post, new { id = "Form_" }))
        {

            @Html.AntiForgeryToken()


            <div class="col-md-12 GropDataDiv form-group b_Yellow">

                <span class=" col-md-12  GroupDataSpan b_Yellow_"> DATI GENERALI  </span>

                <br />
                <br />
                <div class="row">
                    <div class="col-md-3">
                        <div>
                            <label class="col-sm-12">
                                RAGIONE SOCIALE
                            </label>
                        </div>
                        <div>
                            <input class="col-sm-12" type="text" name="RagioneSociale" >
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div>
                            <label class="col-sm-12">CODICE UNICLIIMA</label>
                        </div>
                        <div>
                            <input class="col-sm-12" type="text" name="CodiceUniclima">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div>
                            <label class="col-sm-12">CATEGORIA</label>
                        </div>
                        <div>
                            <input class="col-sm-12" type="text" name="Categoria" >
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div>
                            <label class="col-sm-12">CLASSE </label>
                        </div>
                        <div>
                            <input class="col-sm-12 chg " type="number" min="0" name="Classe" >
                        </div>
                    </div>
                </div>


                <br />

                <div class="row">
                    <div class="col-md-3">
                        <div>
                            <label class="col-sm-12">
                                INDIRIZZO
                            </label>
                        </div>
                        <div>
                            <input class="col-sm-12" type="text" name="Indirizzo" >
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div>
                            <label class="col-sm-12">CITTA</label>
                        </div>
                        <div>
                            <input class="col-sm-12" type="text" name="Citta" >
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div>
                            <label class="col-sm-12">PROVINCIA</label>
                        </div>
                        <div>
                            <input class="col-sm-12" type="text" name="Provincia" >
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div>
                            <label class="col-sm-12">CAP </label>
                        </div>
                        <div>
                            <input class="col-sm-12 chg " type="number" min="0" name="CAP" >
                        </div>
                    </div>
                </div>

                <br />


                <div class="row">
                    <div class="col-md-4">
                        <div>
                            <label class="col-sm-12">
                                TELEFENO UFFICIO
                            </label>
                        </div>
                        <div>
                            <input class="col-sm-12 " type="text" name="TelefonoUfficio" >
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div>
                            <label class="col-sm-12">
                                CONTATTO
                            </label>
                        </div>
                        <div>
                            <input class="col-sm-12" type="text" name="Contatto1" />
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div>
                            <label class="col-sm-12">
                                CELLULARE
                            </label>
                        </div>
                        <div>
                            <input class="col-sm-12" type="text" name="Cellulare1" />
                        </div>
                    </div>
                </div>

                <br />


                <div class="row">
                    <div class="col-sm-6">
                        <div>
                            <label class="col-sm-12">
                                REFERENTE 1
                            </label>
                        </div>
                        <div>
                            <input class="col-sm-12" type="text" name="Referente1" >
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div>
                            <label class="col-sm-12">
                                REFERENTE 2
                            </label>
                        </div>
                        <div>
                            <input class="col-sm-12" type="text" name="Referente2" >
                        </div>
                    </div>
                </div>


                <br />

                <div class="row">
                    <div class="col-md-4">
                        <div>
                            <label class="col-sm-12">
                                TELEFAX
                            </label>
                        </div>
                        <div>
                            <input class="col-sm-12 " type="text" name="Telefax">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div>
                            <label class="col-sm-12">
                                EMAIL
                            </label>
                        </div>
                        <div>
                            <input class="col-sm-12" type="text" name="Email" />
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div>
                            <label class="col-sm-12">
                                INDIRIZZO WEB
                            </label>
                        </div>
                        <div>
                            <input class="col-sm-12" type="text" name="IndirizzoInternet"  />
                        </div>
                    </div>
                </div>


                <br />


                <div class="row">
                    <div class="col-sm-6">
                        <div>
                            <label class="col-sm-12">
                                CONSENSO DATI
                            </label>
                        </div>
                        <div>
                            <input class="col-sm-12" type="text" name="Referente1">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div>
                            <label class="col-sm-12">
                                FATTURATO GLOBALE
                            </label>
                        </div>
                        <div>
                            <input class="col-sm-12" type="text" name="Referente2">
                        </div>
                    </div>
                </div>


            </div>


            <br />
            

            <div class="col-md-12 GropDataDiv form-group b_Green">
                <span class=" col-lg-12  GroupDataSpan b_Green_"> DATI FISCALI  </span>
                <br />
                <br />

                <div class="row">
                    <div class="col-md-4">
                        <div>
                            <label class="col-sm-12">
                                BANCA
                            </label>
                        </div>
                        <div>
                            <input class="col-sm-12 " type="text" name="Banca">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div>
                            <label class="col-sm-12">
                                PARTITA IVA
                            </label>
                        </div>
                        <div>
                            <input class="col-sm-12" type="text" name="P_Iva"  />
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div>
                            <label class="col-sm-12">
                                CONTO CORRENTE
                            </label>
                        </div>
                        <div>
                            <input class="col-sm-12" type="text" name="ContoCorrente"  />
                        </div>
                    </div>
                </div>


                <br />

                <div class="row">
                    <div class="col-md-3">
                        <div>
                            <label class="col-sm-12">
                                IBAN
                            </label>
                        </div>
                        <div>
                            <input class="col-sm-12" type="text" name="IBAN" />
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div>
                            <label class="col-sm-12">CIN</label>
                        </div>
                        <div>
                            <input class="col-sm-12" type="number" name="CIN" />
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div>
                            <label class="col-sm-12">ABI</label>
                        </div>
                        <div>
                            <input class="col-sm-12" type="number" name="ABI"  />
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div>
                            <label class="col-sm-12">CAB </label>
                        </div>
                        <div>
                            <input class="col-sm-12" type="number" name="CAB" />
                        </div>
                    </div>
                </div>


            </div>
            <br />

            <div class="col-md-12 GropDataDiv form-group b_Blue">
                <span class=" col-md-12  GroupDataSpan b_Blue_ "> ORGRANIZZAZIONE  </span>
                <br />
                <br />

                <div class="row">
                    <div class="col-sm-6">
                        <div>
                            <label class="col-sm-12">
                                FORNITORI
                            </label>
                        </div>
                        <div>
                            <input class="col-sm-12" type="text" name="Fornitori">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div>
                            <label class="col-sm-12">
                                TITOLARI
                            </label>
                        </div>
                        <div>
                            <input class="col-sm-12" type="text" name="Titolari">
                        </div>
                    </div>
                </div>


                <br />


                <div class="row">
                    <div class="col-sm-6">
                        <div>
                            <label class="col-sm-12">
                                SOCI
                            </label>
                        </div>
                        <div>
                            <input class="col-sm-12" type="text" name="Soci">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div>
                            <label class="col-sm-12">
                                SEGRETARI
                            </label>
                        </div>
                        <div>
                            <input class="col-sm-12" type="text" name="Segretari">
                        </div>
                    </div>
                </div>



                <br />

                <div class="row">
                    <div class="col-sm-6">
                        <div>
                            <label class="col-sm-12">
                                AMMINISTRATIVI
                            </label>
                        </div>
                        <div>
                            <input class="col-sm-12" type="text" name="Amministrativi">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div>
                            <label class="col-sm-12">
                                UFFICIO TECNICO
                            </label>
                        </div>
                        <div>
                            <input class="col-sm-12" type="text" name="UfficioTecnico">
                        </div>
                    </div>
                </div>



            </div>
        }

    </div>

