


<div id="Dialog_" class="modal_">
    <div class="modal-content">
        <div class="modal-header">
            Title
        </div>
        <div id="DataContainer" class="modal-body">

        </div>

        <div id="CloseDialog" class="custom-modal-button-closed">
            CHIUDI
        </div>
    </div>
</div>