@using Crm_DataUtilities.Repository;
@using Crm_DataUtilities.ViewModel;

@{

    PageParameters _pageParameters = ViewBag.pageParameters;

    if (ViewBag.pageTitle == null)
    {
        ViewBag.Title = _pageParameters.PageTitle;
    }
}
    
<div  class="index-header col-md-12 SendBack no-padding ">
    <span class="index-title col-md-12 no-padding  SendBack">@_pageParameters.PageTitle</span>
</div>


<div class="index-underlinetitle-line"></div>

@if (_pageParameters.FilterForData != null)
{
    <div class=" filterzone SendBack no-padding">
        @Html.Partial("PartialIndexFilter", (PageParameters)_pageParameters)
    </div>
 }


<div class="partialindexzone SendBack ">
    @Html.Partial("PartialIndex")

    <div onclick="topFunction()" id="myBtn" class="go_top_button"></div>

</div>

<script>

    window.onscroll = function() {scrollFunction()};

</script>
