
@using Crm_DataUtilities.Repository;
@using Crm_DataUtilities.ViewModel;



@{
    PageParameters _pageParameters = ViewBag.pageParameters;


    if (ViewBag.pageTitle == null)
    {
        ViewBag.Title = _pageParameters.PageTitle;
    }
    List<ButtonMenuViewModel> button = _pageParameters.ButtonMenu;
}



<div>

    <input type="hidden" id="_ControllerName" name="ControllerName" value="@_pageParameters.ControllerName">

    <div class="index-header  ">
        <span class="index-title no-padding  ">@_pageParameters.PageTitle</span>
    </div>


        
            
        @Html.Partial("PartialIndexFilter", (PageParameters)_pageParameters)
        
    

</div>

<div class="partialindexzone">
    @Html.Partial("PartialIndex")
</div>

<script>
    window.onscroll = function () { scrollFunction() };
</script>

