@using Crm_Global;
@using Crm_DataUtilities.ViewModel;

@model PageParameters
@{ 
    List<ButtonMenuViewModel> buttons = Model.ButtonMenu;
    string ControllerName = Model.ControllerName;
}

@if (Model.HasMenu)
{
<div id="openimage" class="image-open-menu" onclick="showmenu()" title="Apri Menu"></div>

<div id="mymenu" class="crm-menu Panna">

    <table style="table-layout:auto">
        <tr>
            <td> <div class="image-close-menu  " title="Chiudi il menu" onclick="closemenu()"></div></td>


            @if (Model.HasAddElementButton)
            {
                <td class="crm-menu-cell">
                    <div class="crm-menu-button">
                        @Html.ActionLink("AGGIUNGI", "Create",
              Model.ControllerName,
              new { @class = "crm-menu-button-link" })
                    </div>
                </td>
            }

            @*@if (Model.HasEditButton)
            {
                <td class="crm-menu-cell">
                    <div value="edit" class="crm-menu-button"> MODIFICA </div>
                </td>
            }*@

            @*@if (Model.HasExportButton)
            {
                <td class="crm-menu-cell">
                    <div id="export" value="export" class="crm-menu-button"> ESPORTA </div>
                </td>
            }*@

            @if (Model.HasSaveButton)
            {
                <td class="crm-menu-cell">
                    <div id="save" value="save" class="crm-menu-button" onclick="submit();"> SALVA </div>
                </td>
                
            }

            @if (Model.HasDeleteButton)
            {

                <td class="crm-menu-cell">
                    <div id="delete" value="delete" class="crm-menu-button" onclick="DeleteElement(-1);" > ELIMINA </div>
                </td>
            }

            @*<td class="crm-menu-cell">
                <div value="print" class="crm-menu-button" onclick="window.print();"> STAMPA </div>
            </td>*@

            @if (buttons != null)
            {
                foreach (ButtonMenuViewModel x in buttons)
                {
                    <td class="crm-menu-cell"><div class="crm-menu-button" id="@x.ButtonValue" value="@x.ButtonValue" > @x.ButtonName  </div></td>
                }
            }


        </tr>
    </table>

</div>


}


<script>

    function submit() {
        var a = $('#Form_').serializeArray();
        $('#Form_').submit();
    }

   

</script>