

<div  id="openimage" class="image-open-menu" onclick="showmenu()" title="Apri Menu"></div>

<div id="mymenu" class="crm-menu Panna">

    <div class="image-close-menu  " title="Chiud il menu" onclick="closemenu()"></div>

    



</div>