
@{ 


    string[] color = new string[] { "#e84685", "red", "#ec802b", "#f3b639" };
}

<style>

   singeMachineData >div{
       border:@color[0];
   }

</style>

<div class="mydiv">

    <div style="background-color:@color[0]" class="labelMachineName1"></div>
    <div style="background-color:@color[1]" class="labelMachineName2"></div>
    <div style="background-color:@color[2]" class="labelMachineName3"></div>
    <div  style="background-color:@color[3]" class="labelMachineName4"></div>

    <div class="productionDataContainer col-md-12">

        <style>

            .machineNameSpan {
                border-bottom: 1px solid @color[0];
            }
            .nameContainer > input{
                border:1px dashed @color[0];
            }

        </style>

        <div style="border : 4px solid @color[0];" class=" col-md-12  singleMachineData form-group">
            <div style="margin-top:2px;" class="row">

                <b style="" class="col-md-4 machineNameSpan "> NOME MACCHINA  </b>

                <div class="col-md-2">
                    <div class="isWorkingCell" style="text-align:center; padding-top:3px;">
                        ON
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="productNameLabel">
                        <i> LAVORANDO IL PRODOTTO X0123  </i>
                    </div>
                </div>
            </div>

            <div class="col-md-5 noMargin canvasContainer">
                <canvas style="    margin-top: 10px;" class="myCanvas" id="chart-area_"> </canvas>
                <canvas class="myCanvas" id="chart-area"> </canvas>
                @*<div class="container_" style="background-color:red; width:400px; height:110px;">  </div>*@
            </div>

            <div class="dataheader noMargin col-md-offset-8">
                <div class="col-md-12 noMargin">
                    <div class="col-md-12">
                        <i class="userTitleStyle col-md-12 "> OPERATORI  </i>
                    </div>
                    <div class="col-md-12  nameContainer">
                        <input class="col-md-12 " type="text" readonly value="Marco" />
                        <input class="col-md-12 " type="text" readonly value="Marco" />
                        <input class="col-md-12" type="text" readonly value="Marco" />
                    </div>
                </div>
            </div>


        </div>
        

    </div>

</div>
<script>
    var randomScalingFactor = function () {
        return Math.round(Math.random() * 100);
    };

    var configLine = {
        type: 'line',
        data: {
            labels: ['January', 'February', 'March', 'April', 'May', 'June', 'July'],
            datasets: [{
                label: 'My First dataset',
                backgroundColor: window.chartColors.red,
                borderColor: window.chartColors.red,
                data: [10, 30, 39, 20, 25, 34, -10],
                fill: false,
            }, {
                label: 'My Second dataset',
                fill: false,
                backgroundColor: window.chartColors.blue,
                borderColor: window.chartColors.blue,
                data: [18, 33, 22, 19, 11, 39, 30],
            }]
        },
        options: {
            responsive: true,
            title: {
                display: true,
                text: 'Grid Line Settings'
            },
            scales: {
                yAxes: [{
                    gridLines: {
                        drawBorder: false,
                        color: ['pink', 'red', 'orange', 'yellow', 'green', 'blue', 'indigo', 'purple']
                    },
                    ticks: {
                        min: 0,
                        max: 100,
                        stepSize: 10
                    }
                }]
            }
        }
    };

    var config = {
        type: 'pie',
        data: {
            datasets: [{
                data: [
                    randomScalingFactor(),
                    randomScalingFactor(),
                ],
                backgroundColor: [
                    window.chartColors.red,
                    window.chartColors.orange,
                ],
                label: 'Dataset 1'
            }],
            labels: [
                'Bad',
                'Good',
            ]
        },
        options: {
            responsive: true
        }
    };

    

    window.onload = function () {
        var ctx = document.getElementById('chart-area').getContext('2d');
        
        window.myPie = new Chart(ctx, config);
        
    };

    var colorNames = Object.keys(window.chartColors);


    var DATA_COUNT = 12;
    var utils = Samples.utils;
    utils.srand(110);

    function colorize(opaque, ctx) {
        var v = ctx.dataset.data[ctx.dataIndex];
        var c = v < -50 ? '#e84685'
            : v < 0 ? '#e84685'
                : v < 50 ? '#e84685'
                    : '#e84685';

        return opaque ? c : utils.transparentize(c, 1 - Math.abs(v / 150));
    }

    function generateData() {
        return utils.numbers({
            count: DATA_COUNT,
            min: 0,
            max: 1000
        });
    }

    var data = {
        
        datasets: [{
            data: generateData()
        }]
    };

    var options = {
        legend: false,
        tooltips: false,
        elements: {
            rectangle: {
                backgroundColor: colorize.bind(null, false),
                borderColor: colorize.bind(null, false),
                borderWidth: 2
            }
        }
    };

    var chart = new Chart('chart-area_', {
        type: 'bar',
        data: data,
        options:options
    });

    
    function createConfig(gridlines, title) {
        return {
            type: 'line',
            data: {
                labels: ['January', 'February', 'March', 'April', 'May', 'June', 'July'],
                datasets: [{
                    label: 'My First dataset',
                    backgroundColor: window.chartColors.red,
                    borderColor: window.chartColors.red,
                    data: [10, 30, 39, 20, 25, 34, 0],
                    fill: false,
                }, {
                    label: 'My Second dataset',
                    fill: false,
                    backgroundColor: window.chartColors.blue,
                    borderColor: window.chartColors.blue,
                    data: [18, 33, 22, 19, 11, 39, 30],
                }]
            },
            options: {
                responsive: true,
                title: {
                    display: true,
                    text: title
                },
                scales: {
                    xAxes: [{
                        gridLines: gridlines
                    }],
                    yAxes: [{
                        gridLines: gridlines,
                        ticks: {
                            min: 0,
                            max: 100,
                            stepSize: 10
                        }
                    }]
                }
            }
        };
    }

   


</script>

